<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
<!-- Generated via Iro -->
<dict>
  <key>fileTypes</key>
  <array> 
    <string>wfm</string>
   </array>
  <key>name</key>
  <string>wfm</string>
  <key>patterns</key>
  <array> 
    <dict>
      <key>include</key>
      <string>#main</string>
    </dict>
   </array>
  <key>scopeName</key>
  <string>source.wfm</string>
  <key>uuid</key>
  <string></string>
  <key>repository</key>
  <dict>
    <key>main</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>\b(import|package)\b</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.control.import.wfm</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#main__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>begin</key>
          <string>\b(task)\b</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>entity.name.type.wfm</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#main__2</string>
            </dict>
           </array>
          <key>end</key>
          <string>(?=\-\&gt;|;|\})</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>begin</key>
          <string>\b(split|merge)\b</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>entity.name.type.wfm</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#main__3</string>
            </dict>
           </array>
          <key>end</key>
          <string>(?=\-\&gt;|;|\})</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>begin</key>
          <string>\b(event)\b</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>entity.name.type.wfm</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#main__4</string>
            </dict>
           </array>
          <key>end</key>
          <string>(?=\-\&gt;|;|\})</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>\B(&lt;&lt;boundary&gt;&gt;)\B</string>
          <key>name</key>
          <string>constant.other.wfm</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>\b(data|store|message|signal|escalation|error)\b</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>variable.language.wfm</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#main__5</string>
            </dict>
           </array>
          <key>end</key>
          <string>(;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>\b(process|subprocess|transaction|adhoc)\b</string>
          <key>name</key>
          <string>entity.name.type.wfm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>\b(lane)\b</string>
          <key>name</key>
          <string>meta.group.wfm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\b(in|out|io|template|loop|while|until|max|multi|parallel|sequential|count|every|first|none|noninterrupt|async|as|compensate|implicit)\b|\B&lt;&lt;default&gt;&gt;\B)</string>
          <key>name</key>
          <string>keyword.other.wfm</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\{)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#main__6</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\})</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\[)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>meta.group.wfm</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>text.wfm</string>
          <key>end</key>
          <string>(\])</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>meta.group.wfm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>(;|:|,|\?|\!)</string>
          <key>name</key>
          <string>punctuation.wfm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\-\&gt;)</string>
          <key>name</key>
          <string>punctuation.wfm</string>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\&quot;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>text.wfm</string>
          <key>end</key>
          <string>(\&quot;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>((?:\b[a-zA-Z_\x{0024}][a-zA-Z_0-9\x{0024}]*\b(?:\.\b[a-zA-Z_\x{0024}][a-zA-Z_0-9\x{0024}]*\b)*))</string>
          <key>name</key>
          <string>variable.wfm</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#multi_line_comment</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(//.*)</string>
          <key>name</key>
          <string>comment.wfm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>([^\s])</string>
          <key>name</key>
          <string>invalid.wfm</string>
        </dict>
       </array>
    </dict>
    <key>main__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(((?:\b[a-zA-Z_\x{0024}][a-zA-Z_0-9\x{0024}]*\b(?:\.\b[a-zA-Z_\x{0024}][a-zA-Z_0-9\x{0024}]*\b)*))(\.\*)?)</string>
          <key>name</key>
          <string>storage.type.wfm</string>
        </dict>
       </array>
    </dict>
    <key>main__2</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>\b(service|send|receive|user|manual|decision|script)\b</string>
          <key>name</key>
          <string>entity.other.attribute-name.wfm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>\b(message)\b</string>
          <key>name</key>
          <string>keyword.wfm</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#main</string>
        </dict>
       </array>
    </dict>
    <key>main__3</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>\b(xor|ior|and|complex|receive)\b</string>
          <key>name</key>
          <string>keyword.control.wfm</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#main</string>
        </dict>
       </array>
    </dict>
    <key>main__4</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>\b(start|end)\b</string>
          <key>name</key>
          <string>constant.other.wfm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(receive|send)</string>
          <key>name</key>
          <string>keyword.control.wfm</string>
        </dict>
        <dict>
          <key>match</key>
          <string>\b(message|timer|error|escalate|cancel|compensate|when|signal|terminate|one|all)\b</string>
          <key>name</key>
          <string>keyword.wfm</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#main</string>
        </dict>
       </array>
    </dict>
    <key>main__5</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(:)(\s*)((?:\b[a-zA-Z_\x{0024}][a-zA-Z_0-9\x{0024}]*\b(?:\.\b[a-zA-Z_\x{0024}][a-zA-Z_0-9\x{0024}]*\b)*))(&lt;)(\s*)((?:\b[a-zA-Z_\x{0024}][a-zA-Z_0-9\x{0024}]*\b(?:\.\b[a-zA-Z_\x{0024}][a-zA-Z_0-9\x{0024}]*\b)*))(\s*)(&gt;)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>text.wfm</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>storage.type.wfm</string>
            </dict>
            <key>4</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
            <key>5</key>
            <dict>
              <key>name</key>
              <string>text.wfm</string>
            </dict>
            <key>6</key>
            <dict>
              <key>name</key>
              <string>storage.type.wfm</string>
            </dict>
            <key>7</key>
            <dict>
              <key>name</key>
              <string>text.wfm</string>
            </dict>
            <key>8</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>match</key>
          <string>(:)(\s*)((?:\b[a-zA-Z_\x{0024}][a-zA-Z_0-9\x{0024}]*\b(?:\.\b[a-zA-Z_\x{0024}][a-zA-Z_0-9\x{0024}]*\b)*))</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>punctuation.wfm</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>text.wfm</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>storage.type.wfm</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>include</key>
          <string>#main</string>
        </dict>
       </array>
    </dict>
    <key>main__6</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#main</string>
        </dict>
       </array>
    </dict>
    <key>main__7</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>main__8</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>multi_line_comment</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(/\*)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>comment.wfm</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>comment.wfm</string>
          <key>end</key>
          <string>(\*/)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>comment.wfm</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>multi_line_comment__1</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
  </dict>
</dict>
</plist>
